.App {
  display: flex;
  flex-direction: column;
}

p {
    margin: 0;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

input {
	background-color: inherit;
	color: white;
    width: 90%;
    text-align: center;
	
	padding: 3px;
	border: 1px solid #eee;
	border-radius: 10px;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.header {
  background-color: #18356e;
  justify-content: center;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;  

  font-size: calc(7px + 2vmin);
  color: white;
}

.subheader {
  background-color: #18356e;
  
  text-align:center; 
  
  font-size: calc(7px + 2vmin);
  color: white;
}

.input {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: white;
  padding: 0px;
}

.input .subsection {
  background-color: #4b525e;
  margin: 0;
}

.explanation {
  background-color: #282c34;
  color: white;
  padding: 0px;
  font-size: 10px;
  text-align: center;
  font-style: italic;
}

.input .explanation {
  grid-column-start: span 3;
}

.takeoff_output {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  color: white;
  padding: 0px;
}

.climb_output {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  color: white;
  padding: 0px;
}

.climb_output .explanation {
    grid-column-start: span 4;
}

.cruise_output {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  color: white;
  padding: 0px; 
}

.landing_output {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  color: white;
  padding: 0px;
}

.App-link {
  color: #61dafb;
}

.fixed-nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
    background-color: #f1efe2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fixed-nav-bar p {
    flex: 1;
}

.fixed-nav-bar p.active {
    font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
